.o_open_sign_web_canvas,
.o_open_sign_web_properties,
.o_open_sign_web_signature_dialog,
.o_open_sign_web_signing_form {
    border: 1px solid #d8dadd;
    border-radius: 4px;
    padding: 12px;
}

.o_open_sign_web_canvas_header {
    font-weight: 600;
    margin-bottom: 8px;
}
